body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  border: solid .2em #fff;
  height: 80vh;
}
#info {
    display: flex;
    justify-content: space-around;
    width: 240px;
}
h2 {
    font-size: 1em;
}
#buttons {
    margin-top: 1em;
}
button {
    font-size: 0.8em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    border: none;
}
#instructions {
    margin-top: 1em;
    font-size: 0.8em;
}